$colorPrimary: #4977BC;
$colorPrimaryDark: darken($colorPrimary, 10%);
$colorAccent:  #FFA500;
$colorAccentDark: darken($colorAccent, 10%);
$colorNeutral: #FFF;  
:root{
  --colorPrimary: $colorPrimary;
  --colorAccent: $colorAccent;
  --colorPrimaryDark: $colorPrimaryDark;
  --colorAccentDark: $colorAccentDark;
}